/* UNIVERSAL STYLES */

html,
body {
    max-width: 1200px;
    color: ghostwhite;
    font-family: "Space Mono", sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    margin: auto;
}

body {
    height: 100%;
    background-image: url("images/space.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.clearfix {
    clear: both;
}

/* HEADER */

.page-title {
    text-align: center;
    line-height: 2em;
    margin: auto;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("images/spaceship.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 1em;
}

.page-title h1 {
    display: inline-block;
}

/* MAIN */

.main {
    text-align: center;
}

/* PAGE DESCRIPTION */

.page-description {
    font-size: 0.8rem;
    padding: 30px;
}

.learn-more {
    color: darkorange;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 25px 0 0 0;
}

/* GALLERY */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 20px;
}

.gallery-item .thumbnail {
    width: 240px;
    border: 2px solid ghostwhite;
    border-radius: 4px;
}

/* FOOTER */

nav {
    margin-top: 30px;
}

nav ul {
    display: block;
}

nav li {
    color: ghostwhite;
    display: inline;
    margin: 0 20px 0 0;
}

nav a {
    color: darkorange;
    line-height: 60px;
    text-decoration: none;
    border: 1px solid ghostwhite;
    border-radius: 4px;
    padding: 7px;
}

.contact-btn {
    text-align: center;
    cursor: pointer;
    margin: 20px 30px;
}

.contact-btn a:active {
    position: relative;
    bottom: 2px;
}

/* MEDIA QUERIES */

